.banner{
    width: 100%;
    max-width: 100%;
}
.banner img{
    width: 100;
    height: 100;
    display: 100;
}
.navbar{
    background: rgb(255, 4, 67);
    padding: 12px;
    display: flex;
    gap: 20px ;
}
.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(255, 255, 255);
}